header {
    display: flex;
    justify-content: space-between;
}
#timer {

}
#hiScore {

}
.carouselbox {
    display:block;
    margin: auto;
    width: 300px;
    height: 300px;
    cursor: pointer;
    padding-bottom: 40px;
}
.Q1{
}
.Q2{

}
.Q3{

}
.Q4 {

}
.info{
    
}